body {
  padding-top: 5rem;
  font-family: 'Kalam', cursive;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#entete {
  display: inline-block;
  align-content: center;
  font-family: 'Kalam', cursive;
  font-size: 600%;
  color: #eeeeee;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
}

#menu {
  background-image: url("../img/ligne.png");
}

.bouton-menu {
  font-family: 'Kalam', cursive;
  color: #000;
  font-size: 200%;
  box-shadow: 2px 2px 2px 2px;
}

.bleu {
  background-color: #bae9fc;
}

.jaune {
  background-color: #fffd70;
}

.vert {
  background-color: #b5feba;
}

.rose {
  background-color: #fc9292;
}

body {
  background-color: #eeeeee;
}

.haut {
  background-color: #fff;
}

h1 {
  font-family: 'Kalam', cursive;
  color: #000;
  //font-size: 120%;
}

h2 {
  font-family: 'Kalam', cursive;
  color: #000;
  //font-size: 120%;
}

// Carte
#osm_widget_map { /* use the same name as <div id=""> */
  width: 100%; /* important! if you need full width display */
  height: 400px;
  margin: 0;
  border-radius: 5px;
}

// Formulaires
.labelalign.label
{
	display: block;
	width: 150px;
	float: left;
}
