{% load static %}
<div class="list-group">
{% for licorne in meslicornes %}
{% if licorne.id == active_id %}
  <a href="{% url "licorne" licorne.id %}" class="list-group-item active">
{% else %}
  <a href="{% url "licorne" licorne.id %}" class="list-group-item">
{% endif %}
    <div class="media">
        {% if licorne.image %}
          <img class="mr-3 rounded-circle" src="{% get_media_prefix %}{{ licorne.image }}" alt="{{ licorne }}" height="64" width="64">
          {% else %}
          <img class="mr-3 rounded-circle" src="{% static "img/generic.png" %}" alt="{{ licorne }}" height="64" width="64">
        {% endif %}
      <div class="media-body">
        <h2 class="mt-0">{{ licorne }} <span class="badge badge-pill badge-success">{{ licorne.getEtapes|length }}</span></h2>
        {% if licorne.id == active_id %}
        <p>Créateur : {{ licorne.createur.CommonName }}</p>
        <p id="distance_parcourue"></p>
        {% endif %}
      </div>
    </div>
  </a>
{% endfor %}
</div>
