{% extends "base.html" %}
{% load static %}

{% block contenu %}
<div class="row pt-5">
  <div class="col-4"></div>
  <div class="col-4">
    <h1>Ajouter une étape</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form method="post" role="form" class="form-horizontal" action="{% url 'etape' %}" >
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Enregistrer">
    </form>
  </div>
  <div class="col-4"></div>
</div>
    <!-- Include Google Maps JS API -->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key={{ google_key }}"></script>

    <!-- Custom JS code to bind to Autocomplete API -->
    <script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
    <script>
function maPosition(position) {
  var infopos = "Position déterminée :\n";
  infopos += "Latitude : "+position.coords.latitude +"\n";
  infopos += "Longitude: "+position.coords.longitude+"\n";
  //document.getElementById("infoposition").innerHTML = infopos;

  var geocoder = new google.maps.Geocoder;
  var latlng = {lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};
  geocoder.geocode({'location': latlng}, function(results, status) {
    if (status === 'OK') {
      if (results[0]) {
      var address = results[0].address_components;
      for (var p = address.length-1; p >= 0; p--) {
        if (address[p].types.indexOf("country") != -1) {
          var pays = address[p].long_name;
        // document.getElementById('postcode').innerHTML= address[p].long_name;
        }
        if (address[p].types.indexOf("locality") != -1) {
          var ville = address[p].long_name;
        }
      }
      document.getElementById('id_localisation').value = ville + ", " + pays;
      } else {
        document.getElementById('id_message').innerHTML = 'Aucun résultat trouvé';
      }
    } else {
      document.getElementById('id_message').innerHTML ='Erreur du geocoder : ' + status;
    }
  });
}

if(navigator.geolocation)
  navigator.geolocation.getCurrentPosition(maPosition);
</script>
{% endblock %}
