{% extends "base.html" %}
{% load static %}

{% block contenu %}
      <div class="row pt-5">
        <div class="col-1"></div>
        <div class="col-3">
          <h1>Mes licornes</h1>
          {% include "partials/list_licornes_media.html" %}
          <div class="pt-3">
            <a href="{% url "add" %}"><button class="btn btn-primary btn-lg rounded">+ Ajouter une licorne</button></a>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
          <h1>Trajet</h1>
          <div id='map' style='height: 100%'></div>

        </div>
        <div class="col-1"></div>
      </div>
{% endblock %}
